<body class="bg-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.webp');
height: auto; min-height: 45rem;">
    <div class="card-header">
        <div class="container">
            <div class="row">
                <div class=" media col-4 col-sm-4 col-md-4 col-lg-4" *ngFor="let movie of comedyMovies">
                    <div class="media-left">
                        <a href="movie.iMDBLink">
                            <img class="avatar media-object" src="{{ movie.Image }}" alt="">
                        </a>
                    </div>
                    <div class=" text media-body">
                        <p class="media-heading">
                            <a class="name-link" href="movie.iMDBLink">{{ movie.Title }}</a>
                        </p>
                    </div>
                    <div>
                        <p class=" text media-heading">{{ movie.category }}</p>
                    </div>
                    <button (click)="removeMovie(movie)" class="btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>


<router-outlet></router-outlet>